---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="404" description="요청한 페이지를 찾을 수 없습니다." noindex>
  <h1>404!</h1>
  <p>The page you're looking for doesn't exist.</p>
  <p>
    <a href="/">Go to home.</a>
  </p>
</Layout>
