---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Short">
  <h1>2024.11.</h1>
  <h4>11.15</h4>
  <ul>
    <li>
      피드백 루프 빠르게 만들 것. 피드백을 받으면 왜인지 의욕 살아남. 정신이 맑아지는데 무슨 차이일지.
      지난 주 팀플 피드백 세션에서도 똑같이 느낌. 누구에게 받는 피드백이든, 피드백 받는 환경 의도적으로 늘려서 모멘텀 잃지 않게 할 것.
    </li>
  </ul>
  <h4>11.14</h4>
  <ul>
    <li>
      프로젝트 유형 마다 느끼는 점이 (당연히) 다름.
      장단점이 있다 정도만 인지.
    </li>
    <li>
      개인 프로젝트, 혹은 팀으로 하되 내가 주도하는 팀 프로젝트는 몰입이 더 잘 됨.
      이러한 상황에서만 얻을 수 있는 레슨들이 있는데, 누가 밥상을 차려주지 않기 때문에 모든 것을 원점에서 생각하게 함.
      온전히 혼자 책임지고 결정해보는 것도 꽤나 귀한 경험. 이 때 배운 것 중 기억에도 오래 남는 것들이 많았음.
      그리고 나중에 내가 팔로워로서 프로젝트 할 때 어떤 태도를 취하면 협업에 좋을지 고민할 기회가 됨.
    </li>
    <li>
      한편, 나 보다 앞선 실력의 팀원과 함꼐 하는 팀 프로젝트도 장점이 큼. 내 사고, 코드의 세계관을 넓혀주는 것이 가장 매력적.
    </li>
  </ul>
</Layout>
