---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Short">
  <div class="flex flex-col gap-4">
    <h1>Short</h1>
    <p>
      피드백 루프 빠르게 만들 것. 돌아보면 그동안 피드백을 받으면 정신이 맑아지고, 뭔가 더 해보려는 적극성이나 의지가 더 생겼다. 지난 주 팀플 피드백 세션에서도 똑같이 느낌. 피드백을 받기 위한 과정도 나에게 도움이 된다. 내 의견을 정리해서 말하는 것이 선행되어야 하기 때문. 누구에게 받는 피드백이든, 피드백 받는 환경 의도적으로 늘려서 모멘텀 잃지 않게 하면 좋겠다. (2024.11.15)
    </p>
    <p>
      팀 프로젝트를 했을 때 좋았던 점은, 내가 몰랐던 프로그래밍 방식과 사고를 새롭게 알게 된다는 것이었다. 말 그대로 세계관이 넓어지는 기분. 특히 경험이 많은 팀원과의 프로젝트에서는 더 많은 레슨을 얻었다. 팀 프로젝트만이 줄 수 있는 좋은 성장 기회라고 생각한다. 이렇게 터득한 JS 문법이나 사고방식을 혼자 하는 프로젝트에도 사용하면 짜릿했다. 반대로 개인 프로젝트에서도 장점이 있었다. 누가 밥상을 차려주지 않기 때문에, 더 몰입하게 되는 상황이 잦다. 그전 까지 당연하게 고려했던 기술 스택, GitHub 브랜치 전략 등 모든 것을 원점에서 생각해 볼 기회를 갖게 된다. 문제 원인 분석도 어디서 부터 점검할지 스스로 정하고, 해결할 기술적 옵션을 고르는 것 까지 온전히 혼자 책임지고 결정해보는 것도 귀한 경험이다. .이 과정이 기억에 오래 남기도 했다. (2024.11.14)
    </p>
</Layout>
