---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Short">
  <h1>2024.11.</h1>
  <h4>11.15</h4>
  <p>
    피드백 루프 빠르게 만들 것. 피드백을 받으면 왜인지 의욕 살아남. 정신이 맑아지는데 무슨 차이일지.
    지난 주 팀플 피드백 세션에서도 똑같이 느낌. 누구에게 받는 피드백이든, 피드백 받는 환경 의도적으로 늘려서 모멘텀 잃지 않게 할 것.
  </p>
</Layout>
