---
import ThemeToggle from "./ThemeToggle.astro";
---
<header>
  <nav>
    <a href="/">Home</a>
    <a href="/all">All Posts</a>
  </nav>
</header>

<style>
  header {
    margin-bottom: 2rem;
  }

  nav {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
  }

  span {
    color: var(--text-secondary);
  }
</style>
